In [16]:
from collections import defaultdict
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

DIAS_MES_PADRAO = 30

def vfuturo(vp, i, n):
    return vp*(1+i)**n

def vpresente(vf, i, n):
    return vf/(1+i)**n

def caculo_fator_de_financiamento(i, n):
    return (1 - (1 + i)**(-n)) / i

def taxa_mensal_para_dia(i):
    return (1 + i) ** (1/DIAS_MES_PADRAO) - 1

# Relação prestação x valor solicitado

$$ PV = PMT * FPV(i,n) $$

com:
 
$$ FPV(i, n) = \frac{1 - (1 + i)^{-n}}{i}$$

Onde:

- PV: Valor solicitado
- PMT: Valor da prestação
- n: Número de prestações
- i: taxa de jutos

## Informando o valor solicitado

In [115]:
taxa_mensal = 0.01
valor_solicitado = 20_000
numero_de_prestacoes = 15
data_liberacao = date(2021, 1, 5)
dia_vencimento_parcela = 5

In [116]:
taxa_dia = taxa_mensal_para_dia(taxa_mensal)
taxa_dia

0.00033173270623421125

In [117]:
data_vencimento_parcelas = [
    (data_liberacao + relativedelta(months=prestacao)).replace(day=dia_vencimento_parcela)
    for prestacao in range(1, numero_de_prestacoes+1)
]

data_vencimento_parcelas

[datetime.date(2021, 2, 5),
 datetime.date(2021, 3, 5),
 datetime.date(2021, 4, 5),
 datetime.date(2021, 5, 5),
 datetime.date(2021, 6, 5),
 datetime.date(2021, 7, 5),
 datetime.date(2021, 8, 5),
 datetime.date(2021, 9, 5),
 datetime.date(2021, 10, 5),
 datetime.date(2021, 11, 5),
 datetime.date(2021, 12, 5),
 datetime.date(2022, 1, 5),
 datetime.date(2022, 2, 5),
 datetime.date(2022, 3, 5),
 datetime.date(2022, 4, 5)]

In [118]:
fator_de_financiamento = 0
for parcela in range(1, numero_de_prestacoes+1):
    dias = (data_vencimento_parcelas[parcela - 1] - data_liberacao).days
    fator_de_financiamento += vpresente(1, taxa_dia, dias)

fator_de_financiamento

13.853788441846143

In [119]:
total_dias = (data_vencimento_parcelas[-1] - data_liberacao).days
total_dias

455

In [120]:
fator_de_financiamento_meses = caculo_fator_de_financiamento(taxa_mensal, numero_de_prestacoes)
fator_de_financiamento_dias = caculo_fator_de_financiamento(taxa_dia, total_dias)

print(f"Fator de fianciamento usando meses {fator_de_financiamento_meses}")
print(f"Fator de fianciamento usando dias {fator_de_financiamento_dias}")
print(f"Fator de fianciamento usando recebivel unitario com juros diarios {fator_de_financiamento}")

Fator de fianciamento usando meses 13.865052517162113
Fator de fianciamento usando dias 422.26102754397164
Fator de fianciamento usando recebivel unitario com juros diarios 13.853788441846143

In [121]:
valor_da_prestacao = valor_solicitado / fator_de_financiamento
print(f"{valor_da_prestacao=:10.2f}")

valor_da_prestacao=   1443.65

In [125]:
saldo_devedor = valor_solicitado

tabela = defaultdict(list)

for parcela in range(1, numero_de_prestacoes+1):

    dia_vencimento_parcela_atual = data_vencimento_parcelas[parcela - 1]
    if parcela == 1:
        dias_parcela = (dia_vencimento_parcela_atual - data_liberacao).days
    else:
        dia_vencimento_parcela_anterior = data_vencimento_parcelas[parcela - 2]
        dias_parcela = (dia_vencimento_parcela_atual - dia_vencimento_parcela_anterior).days
    dias_acumulados = (dia_vencimento_parcela_atual - data_liberacao).days

    juros = vfuturo(saldo_devedor, taxa_dia, dias_parcela) - saldo_devedor
    amortizacao = valor_da_prestacao - juros # principal
    saldo_devedor -= amortizacao

    tabela['parcela'].append(parcela)
    tabela['data_vencimento'].append(dia_vencimento_parcela_atual)
    tabela['dias_parcela'].append(dias_parcela)
    tabela['dias_acumulados'].append(dias_acumulados)
    tabela['saldo_devedor'].append(saldo_devedor)
    tabela['amortizacao'].append(amortizacao)
    tabela['juros'].append(juros)
    tabela['valor_prestacao'].append(valor_da_prestacao)
    tabela['valor_presente_prestacao'].append(vpresente(valor_da_prestacao, taxa_dia, dias_acumulados))

    # print(f"{parcela=} {saldo_devedor=:10.2f} {amortizacao=:10.2f} {juros=:10.2f} {valor_da_prestacao=:10.2f}")

In [133]:
tabela_valor_solicidado_dado = pd.DataFrame(tabela)
tabela_valor_solicidado_dado.style.format({
    'dias_parcela': '{:d}',
    'dias_acumulados': '{:d}',
    'saldo_devedor': '{:.2f}',
    'amortizacao': '{:.2f}',
    'juros': '{:.2f}',
    'valor_prestacao': '{:.2f}',
    'valor_presente_prestacao': '{:.2f}'
})

In [127]:
tabela_valor_solicidado_dado[['amortizacao', 'juros', 'valor_prestacao', 'valor_presente_prestacao']].sum()

amortizacao                 20000.000000
juros                        1654.726522
valor_prestacao             21654.726522
valor_presente_prestacao    20000.000000
dtype: float64