In [6]:
from collections import defaultdict
import pandas as pd

def vfuturo(vp, i, n):
    return vp*(1+i)**n

def vpresente(vf, i, n):
    return vf/(1+i)**n

def caculo_fator_de_financiamento(i, n):
    return (1 - (1 + i)**(-n)) / i

# Relação prestação x valor solicitado

$$ PV = PMT * FPV(i,n) $$

com:
 
$$ FPV(i, n) = \frac{1 - (1 + i)^{-n}}{i}$$

Onde:

- PV: Valor solicitado
- PMT: Valor da prestação
- n: Número de prestações
- i: taxa de jutos

## Informando o valor solicitado

In [12]:
taxa_mensal = 0.01
valor_solicitado = 20_000
numero_de_prestacoes = 15

In [13]:
fator_de_financiamento = caculo_fator_de_financiamento(taxa_mensal, numero_de_prestacoes)
print(f"{fator_de_financiamento=:10.2f}")

fator_de_financiamento=     13.87

In [14]:
valor_da_prestacao = valor_solicitado / fator_de_financiamento
print(f"{valor_da_prestacao=:10.2f}")

valor_da_prestacao=   1442.48

In [15]:
saldo_devedor = valor_solicitado

tabela = defaultdict(list)

for i in range(1, numero_de_prestacoes+1):
    # juros = vfuturo(saldo_devedor, taxa_mensal, 1) - saldo_devedor
    juros = saldo_devedor * taxa_mensal
    amortizacao = valor_da_prestacao - juros # principal
    amortizacao = valor_da_prestacao - juros # principal
    saldo_devedor -= amortizacao

    tabela['prestacao'].append(i)
    tabela['saldo_devedor'].append(saldo_devedor)
    tabela['amortizacao'].append(amortizacao)
    tabela['juros'].append(juros)
    tabela['valor_prestacao'].append(valor_da_prestacao)
    tabela['valor_presente_prestacao'].append(vpresente(valor_da_prestacao,  taxa_mensal, i))

    print(f"{i=} {saldo_devedor=:10.2f} {amortizacao=:10.2f} {juros=:10.2f} {valor_da_prestacao=:10.2f}")

i=1 saldo_devedor=  18757.52 amortizacao=   1242.48 juros=    200.00 valor_da_prestacao=   1442.48
i=2 saldo_devedor=  17502.62 amortizacao=   1254.90 juros=    187.58 valor_da_prestacao=   1442.48
i=3 saldo_devedor=  16235.17 amortizacao=   1267.45 juros=    175.03 valor_da_prestacao=   1442.48
i=4 saldo_devedor=  14955.05 amortizacao=   1280.12 juros=    162.35 valor_da_prestacao=   1442.48
i=5 saldo_devedor=  13662.13 amortizacao=   1292.93 juros=    149.55 valor_da_prestacao=   1442.48
i=6 saldo_devedor=  12356.27 amortizacao=   1305.85 juros=    136.62 valor_da_prestacao=   1442.48
i=7 saldo_devedor=  11037.36 amortizacao=   1318.91 juros=    123.56 valor_da_prestacao=   1442.48
i=8 saldo_devedor=   9705.26 amortizacao=   1332.10 juros=    110.37 valor_da_prestacao=   1442.48
i=9 saldo_devedor=   8359.83 amortizacao=   1345.42 juros=     97.05 valor_da_prestacao=   1442.48
i=10 saldo_devedor=   7000.96 amortizacao=   1358.88 juros=     83.60 valor_da_prestacao=   1442.48
i=11 saldo_devedor=   5628.49 amortizacao=   1372.47 juros=     70.01 valor_da_prestacao=   1442.48
i=12 saldo_devedor=   4242.30 amortizacao=   1386.19 juros=     56.28 valor_da_prestacao=   1442.48
i=13 saldo_devedor=   2842.25 amortizacao=   1400.05 juros=     42.42 valor_da_prestacao=   1442.48
i=14 saldo_devedor=   1428.19 amortizacao=   1414.05 juros=     28.42 valor_da_prestacao=   1442.48
i=15 saldo_devedor=      0.00 amortizacao=   1428.19 juros=     14.28 valor_da_prestacao=   1442.48

In [22]:
tabela_valor_solicidado_dado = pd.DataFrame(tabela)
tabela_valor_solicidado_dado.style.format('{:.2f}')

In [21]:
tabela_valor_solicidado_dado[['amortizacao', 'juros', 'valor_prestacao', 'valor_presente_prestacao']].sum()

amortizacao                 20000.000000
juros                        1637.134055
valor_prestacao             21637.134055
valor_presente_prestacao    20000.000000
dtype: float64

In [173]:
valor_da_prestacao = 19_184.45

In [175]:
valor_solicitado = valor_da_prestacao * fator_de_financiamento
print(f"{valor_solicitado=:10.2f}")

valor_solicitado= 100000.00

In [17]:
saldo_devedor = valor_solicitado

tabela = defaultdict(list)

for i in range(1, numero_de_prestacoes+1):
    # juros = vfuturo(saldo_devedor, taxa_mensal, 1) - saldo_devedor
    juros = saldo_devedor * taxa_mensal
    amortizacao = valor_da_prestacao - juros
    saldo_devedor -= amortizacao

    tabela['prestacao'].append(i)
    tabela['saldo_devedor'].append(saldo_devedor)
    tabela['amortizacao'].append(amortizacao)
    tabela['juros'].append(juros)
    tabela['valor_prestacao'].append(valor_da_prestacao)
    tabela['valor_presente_prestacao'].append(vpresente(valor_da_prestacao,  taxa_mensal, i))

    print(f"{i=} {saldo_devedor=:10.2f} {amortizacao=:10.2f} {juros=:10.2f} {valor_da_prestacao=:10.2f}")

i=1 saldo_devedor=  18757.52 amortizacao=   1242.48 juros=    200.00 valor_da_prestacao=   1442.48
i=2 saldo_devedor=  17502.62 amortizacao=   1254.90 juros=    187.58 valor_da_prestacao=   1442.48
i=3 saldo_devedor=  16235.17 amortizacao=   1267.45 juros=    175.03 valor_da_prestacao=   1442.48
i=4 saldo_devedor=  14955.05 amortizacao=   1280.12 juros=    162.35 valor_da_prestacao=   1442.48
i=5 saldo_devedor=  13662.13 amortizacao=   1292.93 juros=    149.55 valor_da_prestacao=   1442.48
i=6 saldo_devedor=  12356.27 amortizacao=   1305.85 juros=    136.62 valor_da_prestacao=   1442.48
i=7 saldo_devedor=  11037.36 amortizacao=   1318.91 juros=    123.56 valor_da_prestacao=   1442.48
i=8 saldo_devedor=   9705.26 amortizacao=   1332.10 juros=    110.37 valor_da_prestacao=   1442.48
i=9 saldo_devedor=   8359.83 amortizacao=   1345.42 juros=     97.05 valor_da_prestacao=   1442.48
i=10 saldo_devedor=   7000.96 amortizacao=   1358.88 juros=     83.60 valor_da_prestacao=   1442.48
i=11 saldo_devedor=   5628.49 amortizacao=   1372.47 juros=     70.01 valor_da_prestacao=   1442.48
i=12 saldo_devedor=   4242.30 amortizacao=   1386.19 juros=     56.28 valor_da_prestacao=   1442.48
i=13 saldo_devedor=   2842.25 amortizacao=   1400.05 juros=     42.42 valor_da_prestacao=   1442.48
i=14 saldo_devedor=   1428.19 amortizacao=   1414.05 juros=     28.42 valor_da_prestacao=   1442.48
i=15 saldo_devedor=      0.00 amortizacao=   1428.19 juros=     14.28 valor_da_prestacao=   1442.48

In [18]:
tabela_valor_prestacao_dado = pd.DataFrame(tabela)
tabela_valor_prestacao_dado.style.format('{:.2f}')

# Calcular o fator usando a tabela

A soma do valor presente de recebiveis unitarios gera o fator financiado

In [19]:
valor_solicitado_recebivel_unitario = sum(vpresente(1, taxa_mensal, i) for i in range(1, numero_de_prestacoes+1))
valor_solicitado_recebivel_unitario

13.8650525171621

In [20]:
fator_de_financiamento, valor_solicitado_recebivel_unitario

(13.865052517162113, 13.8650525171621)