In [16]:
from collections import defaultdict
import pandas as pd

def vfuturo(vp, i, n):
    return vp*(1+i)**n

def vpresente(vf, i, n):
    return vf/(1+i)**n

def caculo_fator_de_financiamento(i, n):
    return (1 - (1 + i)**(-n)) / i

# Relação prestação x valor solicitado

$$ PV = PMT * FPV(i,n) $$

com:
 
$$ FPV(i, n) = \frac{1 - (1 + i)^{-n}}{i}$$

Onde:

- PV: Valor solicitado
- PMT: Valor da prestação
- n: Número de prestações
- i: taxa de jutos

## Informando o valor solicitado

In [17]:
taxa_mensal = 0.01
valor_solicitado = 20_000
numero_de_prestacoes = 15

In [18]:
fator_de_financiamento = caculo_fator_de_financiamento(taxa_mensal, numero_de_prestacoes)
print(f"{fator_de_financiamento=:10.2f}")

fator_de_financiamento=     13.87

In [19]:
valor_da_prestacao = valor_solicitado / fator_de_financiamento
print(f"{valor_da_prestacao=:10.2f}")

valor_da_prestacao=   1442.48

In [ ]:
saldo_devedor = valor_solicitado

tabela = defaultdict(list)

for i in range(1, numero_de_prestacoes+1):
    # juros = vfuturo(saldo_devedor, taxa_mensal, 1) - saldo_devedor
    juros = saldo_devedor * taxa_mensal
    amortizacao = valor_da_prestacao - juros # principal
    saldo_devedor -= amortizacao

    tabela['prestacao'].append(i)
    tabela['saldo_devedor'].append(saldo_devedor)
    tabela['amortizacao'].append(amortizacao)
    tabela['juros'].append(juros)
    tabela['valor_prestacao'].append(valor_da_prestacao)
    tabela['valor_presente_prestacao'].append(vpresente(valor_da_prestacao,  taxa_mensal, i))
    prestacao_inversa = numero_de_prestacoes - i + 1
    tabela['prestacao_inversa'].append(prestacao_inversa)
    tabela['valor_presente_prestacao_inverso_1'].append(vfuturo(valor_da_prestacao,  taxa_mensal, -prestacao_inversa))
    tabela['valor_presente_prestacao_inverso_2'].append(vpresente(valor_da_prestacao,  taxa_mensal, prestacao_inversa))

    print(f"{i=} {prestacao_inversa=} {saldo_devedor=:10.2f} {amortizacao=:10.2f} {juros=:10.2f} {valor_da_prestacao=:10.2f}")

i=1 prestacao_inversa=15 saldo_devedor= 249468.89 amortizacao=  16524.52 juros=   2659.93 valor_da_prestacao=  19184.45 16524.515932371294
i=2 prestacao_inversa=14 saldo_devedor= 232779.13 amortizacao=  16689.76 juros=   2494.69 valor_da_prestacao=  19184.45 16689.761091695007
i=3 prestacao_inversa=13 saldo_devedor= 215922.47 amortizacao=  16856.66 juros=   2327.79 valor_da_prestacao=  19184.45 16856.658702611956
i=4 prestacao_inversa=12 saldo_devedor= 198897.25 amortizacao=  17025.23 juros=   2159.22 valor_da_prestacao=  19184.45 17025.225289638078
i=5 prestacao_inversa=11 saldo_devedor= 181701.77 amortizacao=  17195.48 juros=   1988.97 valor_da_prestacao=  19184.45 17195.477542534456
i=6 prestacao_inversa=10 saldo_devedor= 164334.34 amortizacao=  17367.43 juros=   1817.02 valor_da_prestacao=  19184.45 17367.432317959803
i=7 prestacao_inversa=9 saldo_devedor= 146793.23 amortizacao=  17541.11 juros=   1643.34 valor_da_prestacao=  19184.45 17541.1066411394
i=8 prestacao_inversa=8 saldo_devedor= 129076.71 amortizacao=  17716.52 juros=   1467.93 valor_da_prestacao=  19184.45 17716.517707550796
i=9 prestacao_inversa=7 saldo_devedor= 111183.03 amortizacao=  17893.68 juros=   1290.77 valor_da_prestacao=  19184.45 17893.6828846263
i=10 prestacao_inversa=6 saldo_devedor=  93110.41 amortizacao=  18072.62 juros=   1111.83 valor_da_prestacao=  19184.45 18072.619713472566
i=11 prestacao_inversa=5 saldo_devedor=  74857.06 amortizacao=  18253.35 juros=    931.10 valor_da_prestacao=  19184.45 18253.34591060729
i=12 prestacao_inversa=4 saldo_devedor=  56421.18 amortizacao=  18435.88 juros=    748.57 valor_da_prestacao=  19184.45 18435.879369713366
i=13 prestacao_inversa=3 saldo_devedor=  37800.95 amortizacao=  18620.24 juros=    564.21 valor_da_prestacao=  19184.45 18620.2381634105
i=14 prestacao_inversa=2 saldo_devedor=  18994.50 amortizacao=  18806.44 juros=    378.01 valor_da_prestacao=  19184.45 18806.440545044603
i=15 prestacao_inversa=1 saldo_devedor=      0.00 amortizacao=  18994.50 juros=    189.95 valor_da_prestacao=  19184.45 18994.50495049505

In [21]:
tabela_valor_solicidado_dado = pd.DataFrame(tabela)
tabela_valor_solicidado_dado.style.format('{:.2f}')

In [22]:
tabela_valor_solicidado_dado[['amortizacao', 'juros', 'valor_prestacao', 'valor_presente_prestacao']].sum()

amortizacao                 20000.000000
juros                        1637.134055
valor_prestacao             21637.134055
valor_presente_prestacao    20000.000000
dtype: float64

In [23]:
valor_da_prestacao = 19_184.45

In [24]:
valor_solicitado = valor_da_prestacao * fator_de_financiamento
print(f"{valor_solicitado=:10.2f}")

valor_solicitado= 265993.41

In [25]:
saldo_devedor = valor_solicitado

tabela = defaultdict(list)

for i in range(1, numero_de_prestacoes+1):
    # juros = vfuturo(saldo_devedor, taxa_mensal, 1) - saldo_devedor
    juros = saldo_devedor * taxa_mensal
    amortizacao = valor_da_prestacao - juros
    saldo_devedor -= amortizacao

    tabela['prestacao'].append(i)
    tabela['saldo_devedor'].append(saldo_devedor)
    tabela['amortizacao'].append(amortizacao)
    tabela['juros'].append(juros)
    tabela['valor_prestacao'].append(valor_da_prestacao)
    tabela['valor_presente_prestacao'].append(vpresente(valor_da_prestacao,  taxa_mensal, i))

    print(f"{i=} {saldo_devedor=:10.2f} {amortizacao=:10.2f} {juros=:10.2f} {valor_da_prestacao=:10.2f}")

i=1 saldo_devedor= 249468.89 amortizacao=  16524.52 juros=   2659.93 valor_da_prestacao=  19184.45
i=2 saldo_devedor= 232779.13 amortizacao=  16689.76 juros=   2494.69 valor_da_prestacao=  19184.45
i=3 saldo_devedor= 215922.47 amortizacao=  16856.66 juros=   2327.79 valor_da_prestacao=  19184.45
i=4 saldo_devedor= 198897.25 amortizacao=  17025.23 juros=   2159.22 valor_da_prestacao=  19184.45
i=5 saldo_devedor= 181701.77 amortizacao=  17195.48 juros=   1988.97 valor_da_prestacao=  19184.45
i=6 saldo_devedor= 164334.34 amortizacao=  17367.43 juros=   1817.02 valor_da_prestacao=  19184.45
i=7 saldo_devedor= 146793.23 amortizacao=  17541.11 juros=   1643.34 valor_da_prestacao=  19184.45
i=8 saldo_devedor= 129076.71 amortizacao=  17716.52 juros=   1467.93 valor_da_prestacao=  19184.45
i=9 saldo_devedor= 111183.03 amortizacao=  17893.68 juros=   1290.77 valor_da_prestacao=  19184.45
i=10 saldo_devedor=  93110.41 amortizacao=  18072.62 juros=   1111.83 valor_da_prestacao=  19184.45
i=11 saldo_devedor=  74857.06 amortizacao=  18253.35 juros=    931.10 valor_da_prestacao=  19184.45
i=12 saldo_devedor=  56421.18 amortizacao=  18435.88 juros=    748.57 valor_da_prestacao=  19184.45
i=13 saldo_devedor=  37800.95 amortizacao=  18620.24 juros=    564.21 valor_da_prestacao=  19184.45
i=14 saldo_devedor=  18994.50 amortizacao=  18806.44 juros=    378.01 valor_da_prestacao=  19184.45
i=15 saldo_devedor=      0.00 amortizacao=  18994.50 juros=    189.95 valor_da_prestacao=  19184.45

In [26]:
tabela_valor_prestacao_dado = pd.DataFrame(tabela)
tabela_valor_prestacao_dado.style.format('{:.2f}')

# Calcular o fator usando a tabela

A soma do valor presente de recebiveis unitarios gera o fator financiado

In [27]:
valor_solicitado_recebivel_unitario = sum(vpresente(1, taxa_mensal, i) for i in range(1, numero_de_prestacoes+1))
valor_solicitado_recebivel_unitario

13.8650525171621

In [28]:
fator_de_financiamento, valor_solicitado_recebivel_unitario

(13.865052517162113, 13.8650525171621)

In [29]:
for i in range(0, numero_de_prestacoes):
    print(i, numero_de_prestacoes - i - 1)

0 14
1 13
2 12
3 11
4 10
5 9
6 8
7 7
8 6
9 5
10 4
11 3
12 2
13 1
14 0