In [158]:
from collections import defaultdict
import pandas as pd

def vfuturo(vp, i, n):
    return vp*(1+i)**n

def vpresente(vf, i, n):
    return vf/(1+i)**n

def caculo_fator_de_financiamento(i, n):
    return (1 - (1 + i)**(-n)) / i

# Relação prestação x valor solicitado

$$ PV = PMT * FPV(i,n) $$

com:
 
$$ FPV(i, n) = \frac{1 - (1 + i)^{-n}}{i}$$

Onde:

- PV: Valor solicitado
- PMT: Valor da prestação
- n: Número de prestações
- i: taxa de jutos

## Informando o valor solicitado

In [159]:
taxa_mensal = 0.140175
valor_solicitado = 100_000
numero_de_prestacoes = 10

In [160]:
fator_de_financiamento = caculo_fator_de_financiamento(taxa_mensal, numero_de_prestacoes)
print(f"{fator_de_financiamento=:10.2f}")

fator_de_financiamento=      5.21

In [172]:
valor_da_prestacao = valor_solicitado / fator_de_financiamento
print(f"{valor_da_prestacao=:10.2f}")

valor_da_prestacao=   3680.43

In [165]:
saldo_devedor = valor_solicitado

tabela = defaultdict(list)

for i in range(1, numero_de_prestacoes+1):
    # juros = vfuturo(saldo_devedor, taxa_mensal, 1) - saldo_devedor
    juros = saldo_devedor * taxa_mensal
    amortizacao = valor_da_prestacao - juros
    saldo_devedor -= amortizacao

    tabela['prestacao'].append(i)
    tabela['saldo_devedor'].append(saldo_devedor)
    tabela['amortizacao'].append(amortizacao)
    tabela['juros'].append(juros)
    tabela['valor_prestacao'].append(valor_da_prestacao)
    tabela['valor_presente_prestacao'].append(vpresente(valor_da_prestacao,  taxa_mensal, i))

    print(f"{i=} {saldo_devedor=:10.2f} {amortizacao=:10.2f} {juros=:10.2f} {valor_da_prestacao=:10.2f}")

i=1 saldo_devedor=  94833.05 amortizacao=   5166.95 juros=  14017.50 valor_da_prestacao=  19184.45
i=2 saldo_devedor=  88941.82 amortizacao=   5891.23 juros=  13293.22 valor_da_prestacao=  19184.45
i=3 saldo_devedor=  82224.80 amortizacao=   6717.03 juros=  12467.42 valor_da_prestacao=  19184.45
i=4 saldo_devedor=  74566.21 amortizacao=   7658.59 juros=  11525.86 valor_da_prestacao=  19184.45
i=5 saldo_devedor=  65834.08 amortizacao=   8732.13 juros=  10452.32 valor_da_prestacao=  19184.45
i=6 saldo_devedor=  55877.92 amortizacao=   9956.16 juros=   9228.29 valor_da_prestacao=  19184.45
i=7 saldo_devedor=  44526.16 amortizacao=  11351.76 juros=   7832.69 valor_da_prestacao=  19184.45
i=8 saldo_devedor=  31583.16 amortizacao=  12943.00 juros=   6241.45 valor_da_prestacao=  19184.45
i=9 saldo_devedor=  16825.88 amortizacao=  14757.28 juros=   4427.17 valor_da_prestacao=  19184.45
i=10 saldo_devedor=     -0.00 amortizacao=  16825.88 juros=   2358.57 valor_da_prestacao=  19184.45

In [130]:
tabela_valor_solicidado_dado = pd.DataFrame(tabela)
tabela_valor_solicidado_dado.style.format('{:.2f}')

In [166]:
tabela_valor_solicidado_dado[['amortizacao', 'juros', 'valor_prestacao', 'valor_presente_prestacao']].sum()

amortizacao                 100000.000000
juros                        91844.492124
valor_prestacao             191844.492124
valor_presente_prestacao    100000.000000
dtype: float64

In [173]:
valor_da_prestacao = 19_184.45

In [175]:
valor_solicitado = valor_da_prestacao * fator_de_financiamento
print(f"{valor_solicitado=:10.2f}")

valor_solicitado= 100000.00

In [176]:
saldo_devedor = valor_solicitado

tabela = defaultdict(list)

for i in range(1, numero_de_prestacoes+1):
    # juros = vfuturo(saldo_devedor, taxa_mensal, 1) - saldo_devedor
    juros = saldo_devedor * taxa_mensal
    amortizacao = valor_da_prestacao - juros
    saldo_devedor -= amortizacao

    tabela['prestacao'].append(i)
    tabela['saldo_devedor'].append(saldo_devedor)
    tabela['amortizacao'].append(amortizacao)
    tabela['juros'].append(juros)
    tabela['valor_prestacao'].append(valor_da_prestacao)
    tabela['valor_presente_prestacao'].append(vpresente(valor_da_prestacao,  taxa_mensal, i))

    print(f"{i=} {saldo_devedor=:10.2f} {amortizacao=:10.2f} {juros=:10.2f} {valor_da_prestacao=:10.2f}")

i=1 saldo_devedor=  94833.05 amortizacao=   5166.95 juros=  14017.50 valor_da_prestacao=  19184.45
i=2 saldo_devedor=  88941.83 amortizacao=   5891.23 juros=  13293.22 valor_da_prestacao=  19184.45
i=3 saldo_devedor=  82224.80 amortizacao=   6717.03 juros=  12467.42 valor_da_prestacao=  19184.45
i=4 saldo_devedor=  74566.21 amortizacao=   7658.59 juros=  11525.86 valor_da_prestacao=  19184.45
i=5 saldo_devedor=  65834.08 amortizacao=   8732.13 juros=  10452.32 valor_da_prestacao=  19184.45
i=6 saldo_devedor=  55877.92 amortizacao=   9956.16 juros=   9228.29 valor_da_prestacao=  19184.45
i=7 saldo_devedor=  44526.16 amortizacao=  11351.76 juros=   7832.69 valor_da_prestacao=  19184.45
i=8 saldo_devedor=  31583.16 amortizacao=  12943.00 juros=   6241.45 valor_da_prestacao=  19184.45
i=9 saldo_devedor=  16825.88 amortizacao=  14757.28 juros=   4427.17 valor_da_prestacao=  19184.45
i=10 saldo_devedor=     -0.00 amortizacao=  16825.88 juros=   2358.57 valor_da_prestacao=  19184.45

In [ ]:
tabela_valor_prestacao_dado = pd.DataFrame(tabela)
tabela_valor_prestacao_dado.style.format('{:.2f}')

# Calcular o fator usando a tabela

A soma do valor presente de recebiveis unitarios gera o fator financiado

In [179]:
valor_solicitado_recebivel_unitario = sum(vpresente(1, taxa_mensal, i) for i in range(1, numero_de_prestacoes+1))
valor_solicitado_recebivel_unitario

5.212555173873027

In [181]:
fator_de_financiamento, valor_solicitado_recebivel_unitario

(5.212555173873025, 5.212555173873027)