In [33]:
from collections import defaultdict
import pandas as pd

def vfuturo(vp, i, n):
    return vp*(1+i)**n

def vpresente(vf, i, n):
    return vf/(1+i)**n

# Relação prestação x valor solicitado

$$ PV = PMT * FPV(i,n) $$

com:
 
$$ FPV(i, n) = \frac{1 - (1 + i)^{-n}}{i}$$

Onde:

- PV: Valor solicitado
- PMT: Valor da prestação
- n: Número de prestações
- i: taxa de jutos

## Informando o valor solicitado

In [34]:
taxa_mensal = 0.02
valor_solicitado = 8_000
numero_de_prestacoes = 24
meses_de_carencia = 0

In [35]:
saldo_devedor = valor_solicitado

tabela = defaultdict(list)

tabela['mes'].append(0)
tabela['saldo_devedor'].append(saldo_devedor)
tabela['amortizacao'].append(0)
tabela['juros'].append(0)
tabela['valor_prestacao'].append(0)
tabela['valor_presente_prestacao'].append(0)
tabela['juros_formula'].append(0)


for i in range(meses_de_carencia):
    juros = saldo_devedor * taxa_mensal
    saldo_devedor *= (1+taxa_mensal)
    tabela['mes'].append(i)
    tabela['saldo_devedor'].append(saldo_devedor)
    tabela['amortizacao'].append(0)
    tabela['juros'].append(juros)
    tabela['valor_prestacao'].append(0)
    tabela['valor_presente_prestacao'].append(0)

amortizacao = saldo_devedor / numero_de_prestacoes
print(f"{amortizacao=:10.2f}")

for i in range(1, numero_de_prestacoes+1):
    # juros = vfuturo(saldo_devedor, taxa_mensal, 1) - saldo_devedor
    juros = saldo_devedor * taxa_mensal
    valor_da_prestacao = amortizacao + juros # principal
    saldo_devedor -= amortizacao

    tabela['mes'].append(i)
    tabela['saldo_devedor'].append(saldo_devedor)
    tabela['amortizacao'].append(amortizacao)
    tabela['juros'].append(juros)
    tabela['valor_prestacao'].append(valor_da_prestacao)
    tabela['valor_presente_prestacao'].append(vpresente(valor_da_prestacao,  taxa_mensal, i))
    juros2 = amortizacao * (numero_de_prestacoes - i + 1) * taxa_mensal
    tabela['juros_formula'].append(juros2)

amortizacao=    333.33

In [36]:
tabela_valor_solicidado_dado = pd.DataFrame(tabela)
tabela_valor_solicidado_dado.style.format({
    'dias_parcela': '{:d}',
    'dias_acumulados': '{:d}',
    'saldo_devedor': '{:.2f}',
    'amortizacao': '{:.2f}',
    'juros': '{:.2f}',
    'valor_prestacao': '{:.2f}',
    'valor_presente_prestacao': '{:.2f}',
    'juros_formula': '{:.2f}',
})

In [37]:
tabela_valor_solicidado_dado[['amortizacao', 'juros', 'valor_prestacao', 'valor_presente_prestacao']].sum()

amortizacao                  8000.0
juros                        2000.0
valor_prestacao             10000.0
valor_presente_prestacao     8000.0
dtype: float64